body{
  font-family: sans-serif;
  background-color: #000000;
  color: white;
  padding: 30px;
}
img{
    width: 500px;
}

h2{
    color: red;
      text-align:center ;

}

h1{
    color:red;
      text-align:center ;

}
